*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    animation: animate 15s infinite ease-in-out;
   
}

h2{
    font-size:8em;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    color: white;
   
}

body::before{
    content: '';
    position: absolute;
    inset:0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

@keyframes animate {
    0%{
        background-image: url(images/image1.jpg);
    }
    25%{
        background-image: url(images/image2.jpg);
    }
    50%{
        background-image: url(images/image3.jpg);
    }
    75%{
        background-image: url(images/image4.jpg);
    }
    100%{
        background-image: url(images/image5.jpg);
    }

}